#web{
    width: 100%;
    height: auto;
}

li{
    width: 40%;
    padding-top: 2px;
    padding-bottom: 4px;
}

p{
    width: 50%;
}

.shift{
    padding-left: 2%;
}

.mobile{
    width: auto;
    height: auto;
    display: block;
    margin: auto;
}

.center{
    text-align: center;
}

body{
    background-color: darkgray;
}

#map{
    width: auto;
    display: block;
    margin: auto;
}


